body {
  position: relative;
  max-width: 56em;
  padding: 2em;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  color: #0645ad;
  text-decoration: none;
}

a:visited {
  color: #0645ad;
}

a:hover {
  text-decoration: underline;
}

nav a {
  margin-right: 10px;
}

#notice {
  color: green;
}

#alert {
  color: red;
}

.border {
  border-right: 2px solid #000;
  /* border-bottom: 2px solid #000; */
}
